body {
    background-color: aliceblue;
    background-image: url("nyj.png");
    background-size: cover;
}
 
.panel {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
}
 
.question {
    font-size: 30px;
    margin-bottom: 20px;
}
 
.options {
    font-size: 50px;
    text-shadow: -1px -1px 0 #088d23, 1px -1px 0 #088d23, -1px 1px 0 #088d23, 1px 1px 0 #088d23;
    color: #a4f1b2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: fixed;
    top: 40%;
    left: 40%;
}
 
button {
    margin-right: 75px;
    margin-top: 300px;
    font-size: 50px;
    padding: 10px 20px;
    background-color: #12bc34;
    color: white;
    border: none;
    cursor: pointer;
}
 
#score {
    font-size: 50px;
    color: rgb(47, 164, 92);
}